[user]
	name = David Laing
	email = david@davidlaing.com

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[core]
	pager = bat --style=plain --color=always --paging=always

[pager]
	log = bat --style=numbers,changes --color=always
	show = bat --style=numbers,changes --color=always
	diff = bat --style=changes --color=always