[Unit]
Description=Dynamic Wallpaper Updater
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/dynamic-wallpaper
Environment=DISPLAY=:0